body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: lightblue;
}
main {
  display: grid;
  place-items: center;
}
form {
  width: 350px;
  > div {
    display: flex;
    justify-content: space-between;
    padding: 8px;
  }
  > div:last-child {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
  select {
    width: 177px;
  }
}

/* Dropdown -------------------------------------------- */

body {
  background-color: lightblue;
}
header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #abc;
}
header img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
header div,
header nav {
  display: flex;
  align-items: center;
  gap: 16px;
}
.dropbtn {
  background-color: #04aa6d;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a,
nav a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
